name: Publish Quarto Book

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render book (solo HTML)
        run: quarto render --to html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _book

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
